    /* css for gym website  */
    
    body {
        margin: 0px;
        padding: 0px;
        background: url('/project_images/gym1.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 881px;
        color: aliceblue;
    }
    
    .left {
        /* I am Left */
        display: inline-block;
        position: absolute;
        left: 60px;
        top: 1px;
        /* border: 2px solid rgb(17, 104, 235); */
        color: black;
        width: 10%;
        padding-bottom: 5px;
    }
    
    .right {
        /* I am Right */
        position: absolute;
        right: 34px;
        top: 20px;
        display: inline-block;
        /* border: 2px solid rgb(17, 104, 235); */
    }
    
    .mid {
        /* I am mid  */
        display: block;
        width: 55%;
        margin: 20px auto;
        /* border: 2px solid rgb(3, 3, 3); */
        background-color: rgba(233, 192, 116, 0.911);
        border-radius: 20px;
    }
    
    .container {
        /* border: 2px solid black; */
        margin: 160px auto;
        padding: 2px 2px;
        border-radius: 2px;
        /* height: min-content; */
        width: 38%;
        text-align: center;
        /* display: inline-block; */
    }
    
    .container h1 {
        background-color: black;
        color: rgba(240, 162, 17, 0.808);
        opacity: 70%;
    }
    
    .navbar {
        display: inline-block;
    }
    
    .navbar li {
        display: inline-block;
        font-size: 23px;
    }
    
    .navbar li a {
        color: aliceblue;
        text-decoration: none;
        padding: 25px;
    }
    
    .navbar li a:hover,
    .navbar li a:active {
        color: rgb(147, 156, 163);
        text-decoration: underline;
        /* padding: 25px; */
    }
    
    .left img {
        /* padding: 20px; */
        width: 99%;
        /* border: 2px solid black; */
        /* margin-bottom: -48px; */
        /* <!-- I had overlapped the text on logo  by minimizing the .img margin  --> */
        filter: contrast(170%);
        /* background-color: black; */
    }
    
    .logo_title {
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-align: center;
        margin: auto;
        /* color: rgba( 255, 166, 0, 0.815); */
    }
    
    .right .btn {
        background-color: rgba(128, 128, 128, 0.616);
        color: orange;
        width: 117px;
        font-size: 19px;
        padding: 8px 5px;
        margin: 8px 15px;
        border-radius: 20px;
        border: 2px solid black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        cursor: pointer;
    }
    
    .right .btn:hover {
        text-decoration: underline;
        font-size: 20px;
        background-color: rgba(128, 128, 128, 0.87);
    }
    
    .container button {
        display: block;
        width: 23%;
        margin: 10px auto;
        border: 1px solid black;
        font-size: 18px;
        border-radius: 20px;
    }
    
    .container button:hover {
        text-decoration: underline;
        font-size: 19px;
    }
    
    .form-grp input {
        font-size: 18px;
        margin: 7px auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 10px;
        border: 1px solid black;
        width: 400px;
        padding: 3px 5px;
        text-align: center;
        display: block;
    }
    
    .container2 {
        border: 2px solid black;
        height: 140px;
        display: inline-block;
        width: 95%;
        margin: -132px 30px;
        padding: 2px 2px;
        /* position: fixed; */
    }
    
    .container2 h3 {
        padding: 2px;
        display: block;
        color: black;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.733);
        margin: 2px 2px;
    }
    
    .container2 ul {
        display: block;
        /* border: 2px solid white; */
        width: auto;
        margin: 2px 2px;
        padding: 2px 2px;
    }
    
    .container2 ul li {
        text-align: center;
        width: auto;
        margin: 2px 2px;
        padding: 2px 2px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .container3 {
        border: 2px solid black;
        height: 140px;
        display: block;
        width: 95%;
        margin: 35px 30px;
        padding: 2px 2px;
        text-align: center;
    }
    
    .container3 h3 {
        padding: 2px;
        display: block;
        color: black;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.733);
        margin: 2px 2px;
    }
    
    table {
        text-align: center;
        margin: auto;
    }
    
    td {
        padding: 8px 26px;
        margin: 57px 41px;
    }